body {
	background-color: #ffffff;
	padding-bottom: 50px;
	padding-top: 80px;
}

header {
	background-color: #48b983;
}

header {
	min-height: 80px;
	color: #f6f6f6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

header h1 {
	margin: 10px 0;
	font-size: 50px;
	line-height: 60px;
	font-weight: 100;
	text-rendering: auto;
}

header menu {
	margin: 20px 0 0;
	padding: 0;
	height: 40px;
}

header menu ul {
	margin: 0;
	padding: 0;
	float: right;
}

header menu li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

header menu li a {
	display: inline-block;
	height: 40px;
	font-size: 17px;
	line-height: 40px;
	padding: 0 20px;
	color: #f6f6f6;
}

header menu li a:hover {
	color: #f6f6f6;
	text-decoration: none;
}

header menu li a img {
	margin: 0;
	padding: 5px 0;
	vertical-align: bottom;
	width: 30px;
	height: 30px;
}

header,#subtitle,a.dl {
	background-color: #48b983;
}

#subtitle {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
}

#subtitle h2 {
	font-weight: 200;
	font-size: 26px;
	line-height: 30px;
	padding: 15px 0;
	margin: 0;
	color: #eee;
}

#subtitle,h2 strong {
	font-weight: 300;
}

#body .container {
	margin-top: 80px;	
}

.produto {
	text-align: center;
	margin-bottom: 40px;
}

#pagefooter {
	margin-top: 30px;
	text-align: center;
}